.MuiTypography-displayBlock {
  display: block;
  font-size: 23px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .MuiAvatar-root {
    animation: App-logo-spin infinite 5s linear;
  }
} */

.media:hover {
}

.media {
  background-color: #2f2f2f;
}
